[Unit]
Description=Example Description
Documentation=https://github.com/somewhere
ConditionPathExists=/etc/helloapp/config.json
After=network.target

[Service]
ExecStart=/usr/bin/helloapp
Type=simple
User=helloapp
Group=helloapp

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
